/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}




/****************/
/* JOUW STYLING */
/****************/

/* algemene styling voor pagina 1 */

body{
	background-color: var(--color-background);
}

h1{
	font-size: 1.2em;
	font-weight:800;
	text-transform: uppercase;
	color: var(--color-text1);
}

@keyframes h1animatie {
	0% {
	  transform:translateY(0);
	}

	50% {
		transform:translateX(-1rem);
	}
	100% {
	  transform:translateX(4rem);
	}
  }

  h1:hover{
	animation-name:h1animatie;
  	animation-duration:3s;
  	animation-iteration-count:infinite;
	animation-timing-function:cubic-bezier(0.125, 0.995, 1.000, 1);
  }

h2{
	font-size: 1em;
	color: var(--color-text1);
	margin: .5em;
}

a{
	text-decoration: none;
}

a:focus{
	border: 3px dotted var(--color-webtoongreen);
	background-color: var(--color-hover);
}

a:active{
	transform:translateY(.2em);
	transition:.2s;
}

/* styling van de header */

body header{
	background-color: var(--color-background);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}

body header section{
	display: flex;
	justify-content: space-between;
	margin: .8em;
}

header section a img{
	width: 60%;
}

header section a img:hover{
	width: 80%;
}

body header nav{
	background-color: var(--color-background);
	width: 100%;
}


body header nav ul{
	background-color: var(--color-background);
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
}

header nav ul li{
	display: flex;
	justify-content: center;
}

header nav ul li a{
	display: flex;
	justify-content: center;
}

header nav ul li a:hover{
	background-color: var(--color-hover);
}

header nav img{
	width: 50%;
}

main{
	margin-top: 6em;
}

/* main styling */

/* op alle sections */

main > section{
	margin-top: .8em;
}

/* styling section 1: slider */

/* code van sanne gevonden op teams */
main > section:nth-of-type(1) h2{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
  
main > section:nth-of-type(1) {
    position:relative;
  }
  
  
  
  /* slider (infinte, draggable, counter) van sanne (begrijp ik niet volledig) */

  /*******************************/
  /* de scroll container - de ul */
  /*******************************/
main > section:nth-of-type(1) > ul {	
    margin:0;
    padding:0;
    list-style:none;
    
    /* grid van 1 bij 1 */
    display:grid;
    
    /* li's die uitsteken zijn niet te zien */
    overflow:hidden;
    
    touch-action: none;
    
    /* zodat de browser het draggen niet overneemt */
    /* daarmee zou de drag die de js volgt afgebroken worden */
    cursor:grab;
  }
  
  main > section:nth-of-type(1) > ul.dragging {
    /* als er gedragged wordt --> grijphandje */
    cursor:grabbing;
  }
  
  
  
  
  
  /*************************************************************/
  /* streepje om te laten zien hoever het draggen gevorderd is */
  /*************************************************************/
  
  /* bonus */
  
  main > section:nth-of-type(1) > ul::after {
    content:"";
    position:absolute;
    top:0;
    right:0;
    left:0;
    height:.5em;
    z-index:100;
    
    background-image:
      linear-gradient(
        to right,
        #f069 calc(100%/3),
        transparent calc(100%/3) calc(100%/3*2),
        #f069 calc(100%/3*2)
      );
    background-size:300% 100%;
    background-position:calc(50% + 50% * var(--dragDeltaX, 0)/var(--dragThreshold)) center;
  }
  
  
  
  
  
  /*********************************/
  /* de scroll elementen - de li's */
  /*********************************/
  main > section:nth-of-type(1) > ul > li {
    /* de li's zijn niet te zien */
    display:none;
  }
  
  /* de li's op pos0, pos1 en pos2 zijn wel te zien */
  main > section:nth-of-type(1) > ul > li[data-pos="0"],
  main > section:nth-of-type(1) > ul > li[data-pos="1"],
  main > section:nth-of-type(1) > ul > li[data-pos="2"] {
    position:relative;
    display:block;
    
    /* alle drie de li's in de ene grid-cel */
    grid-area:1/1/2/2;
    
    /* transitie als de li's scrollen */
    transition:.3s;
  }
  
  main > section:nth-of-type(1) > ul.dragging > li {
    /* als er gedragged wordt --> bewegen li's zonder transitie */
    transition:0s;
  }
  
  main > section:nth-of-type(1) > ul > li[data-pos="0"] {
    /* links buiten beeld --> -100% */
    /* plus de gedragde afstand tijdens draggen --> var(--dragDeltaX, 0) * 1px */
    transform:translateX(calc(-100% + var(--dragDeltaX, 0) * 1px)) ;
  }
  
  main > section:nth-of-type(1) > ul > li[data-pos="1"] {
    /* in beeld --> 0% */
    /* plus de gedragde afstand tijdens draggen --> var(--dragDeltaX, 0) * 1px */
    transform:translateX(calc(0% + var(--dragDeltaX, 0) * 1px)) ;
  }
  
  main > section:nth-of-type(1) > ul > li[data-pos="2"] {
    /* rechts buiten beeld --> 100% */
    /* plus de gedragde afstand tijdens draggen --> var(--dragDeltaX, 0) * 1px */
    transform:translateX(calc(100% + var(--dragDeltaX, 0) * 1px)) ;
  }
  
  
  
  
  
  /*************************/
  /* de inhoud van de li's */
  /*************************/
  main > section:nth-of-type(1) > ul > li img {
    width:100%;
    display:block;
  }
  
  
  
  
  
  /***********/
  /* counter */
  /***********/
  main > section:nth-of-type(1) p {
    position:absolute;
    right:.5em;
    bottom:.5em;
    margin:0;
    padding:.25em .5em;
    border-radius:1em;
    background-color:#0006;
    color:#fff9;
  }
  
  main > section:nth-of-type(1) p em {
    color:var(--color-text2);
    font-style:normal;
  }



/* styling section 2: today's picks */

main > section:nth-of-type(2) ul li p::before{
	content: "♥";
}

main > section:nth-of-type(2){
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

main > section:nth-of-type(2) > a img{
	width: .8em;
	margin-right: .5em;
}

main > section:nth-of-type(2) > a img:hover{
	width: 1em;
}


main > section:nth-of-type(2) ul{
	width: 100%;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

main > section:nth-of-type(2) ul li{
	border:	solid .1px var(--color-border);
}

main > section:nth-of-type(2) ul li a{
	position: relative;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

main > section:nth-of-type(2) ul li:hover{
	background-color: var(--color-hover);
}


main > section:nth-of-type(2) ul li img:nth-of-type(1){
	position: absolute;
	top: .2em;
	left: .2em;
	width: 25%;
}

main > section:nth-of-type(2) ul li img:nth-of-type(2){
	width: 100%;
	order: -100;
}

main > section:nth-of-type(2) h3{
	color: var(--color-text1);
	font-size: .8em;
	padding: 0 .5em;
}

main > section:nth-of-type(2) h4{
	font-size: .7em;
	font-weight: lighter;
	order: -50;
	padding: .5em
}

main > section:nth-of-type(2) li:nth-of-type(1) h4{
	color: var(--color-genresupernatural);
}

main > section:nth-of-type(2) li:nth-of-type(2) h4{
	color: var(--color-genresliceoflife);
}

main > section:nth-of-type(2) li:nth-of-type(3) h4{
	color: var(--color-genrefantasy);
}

main > section:nth-of-type(2) li:nth-of-type(4) h4{
	color: var(--color-genrefantasy);
}

main > section:nth-of-type(2) li:nth-of-type(5) h4{
	color: var(--color-genreromance);
}

main > section:nth-of-type(2) li:nth-of-type(6) h4{
	color: var(--color-genreaction);
}

main > section:nth-of-type(2) p{
	color: var(--color-webtoongreen);
	font-size: .7em;
	font-weight: lighter;
	padding: 1em .5em .5em .5em;
}


/* SECTION 3: GENRES */

main > section:nth-of-type(3) h3{
	color: var(--color-text2);
	font-size: 1em;
	margin: .5em;
}

main > section:nth-of-type(3) p{
	color: var(--color-text3);
	font-size: .7em;
}



main > section:nth-of-type(3) section:nth-of-type(1){
	background-color: var(--color-genrefantasy);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}

main > section:nth-of-type(3) p ~ a{
	justify-self: flex-end;
	position: absolute;
	top: .3em;
	right: .3em;
}

main > section:nth-of-type(3) p ~ a img{
	width: 50%;
	opacity: 0.30;
}


main > section:nth-of-type(3) section:nth-of-type(1) ul{
	list-style-type: none;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	width: 100%;
	margin: .5em 0 .5em .5em;
}

main > section:nth-of-type(3) section:nth-of-type(1) ul img{
	width: 4em;
	border-radius: 50%;
	margin-left: .2em;
}

main > section:nth-of-type(3) section:nth-of-type(1) ul img:hover{
	border: 3px solid var(--color-text1);
}

/* romance genre */
main > section:nth-of-type(3) section:nth-of-type(2){
	background-color: var(--color-genreromance);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}

main > section:nth-of-type(3) section:nth-of-type(2) ul{
	list-style-type: none;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	width: 100%;
	margin: .5em 0 .5em .5em;

}

main > section:nth-of-type(3) section ul::-webkit-scrollbar{
	display: none;
}

main > section:nth-of-type(3) section:nth-of-type(2) ul img{
	width: 4em;
	border-radius: 50%;
	margin-left: .2em;
}

main > section:nth-of-type(3) section:nth-of-type(2) ul img:hover{
	border: 3px solid var(--color-text1);
}

/* SECTION 4: POPULAR */

main > section:nth-of-type(4){
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: .5em .5em 1em .5em;
}

main > section:nth-of-type(4) > a img{
	width: .8em;
}

main > section:nth-of-type(4) > a img:hover{
	width: 1em;
}

main > section:nth-of-type(4) ol{
	width: 100%;
	padding-left: 2em;
	display: grid;
	gap: 1em;
	margin-top: .5em;
	color: var(--color-text1);
}

main > section:nth-of-type(4) ol li:hover{
	background-color: var(--color-hover);
}

main > section:nth-of-type(4) ol li a{
	display: grid;
	grid-template-columns: max-content 1fr;
	column-gap: 1em;
}

main > section:nth-of-type(4) ol img{
	width: 2.5em;
	border-radius: 10%;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
}

main > section:nth-of-type(4) ol h3{
	order: 100;
	color: var(--color-text1);
	font-size: .8em;
	font-weight: 500;
}

main > section:nth-of-type(4) ol h4{
	color: var(--color-text4);
	font-size: .7em;
	font-weight: 300;
}

main > section:nth-of-type(4) ol li:nth-of-type(1){
	list-style: none;
	position: relative;
}

main > section:nth-of-type(4) ol li:nth-of-type(1) h3{
	font-weight: 600;
}

main > section:nth-of-type(4) ol li:nth-of-type(1)::before{
	--maat:1em;
	content: "";
	position: absolute;
	right: calc(100% + .25em);
	top: calc(50% - var(--maat) / 2);
	height: var(--maat);
	width: var(--maat);
	/* background-color: #006afa; */
	background-image: url(../images/icons/number_one.png);
	background-size: cover;
}



@media (min-width:480px){
	main section:nth-of-type(2) ul{
		grid-template-columns: repeat(6, 1fr);
	}
}
